body, html{
    width: 100vw;
	height: 100vh;
    overflow-x: hidden;
}

.flex{
    display: flex;
}

.content{
    width: 100vw;
	height: 100vh;
}

.titulo-login, .login{
    margin-top:-10%;
}

.containerd-fluid{
    width: 100vw;
	height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
}

.containerd-fluid::after{
    content: ""; 
    background: url(../img/estoN.jpg), no-repeat;
    background-size: cover;
    opacity: 0.75; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    position: absolute; 
    z-index: -1; 
}

.login {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.registrousu {
    background-color: white;
    padding: 20px;
    width: 85% !important;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.50);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.registro {
    background-color: white;
    padding: 20px;
    width: 50% !important;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.registro input,

.registro select{
    width: 100%;
}

.icono-usuario {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px; /* Espacio para separar del formulario*/ 
}

#btlogin{
margin-top: 20px;
}

#btnopciones{
margin-left: 8%;
}

#registrot{
margin:auto;  
}

.registro_rep {
    background-color: white;
    padding: 20px;
    width: 50% !important;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.fotico{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 65%;
}

.placeholder{
    width:100px;
    height: 100px;
    margin-left: 30px;
}

.cab-div{
    align-items: center;
    background-color: rgb(12, 88, 137);
}

.tabla-premium{
    margin-top: 1.5pc;
    width: 95%;
    margin: auto;
    margin-top: 30px;;
}

.list-group-item{
    background-color: rgb(12, 88, 137); 
}

.list-group-item:hover{
    background-color: rgb(16, 125, 198);
    color: white;
}

.form-recu{
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.60);
}

.patpdf{
    table-layout: fixed;
    word-wrap: break-word
}